.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // border: 1px solid gray;
    // border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    @media screen and (min-width: 400px) {
        min-width: 500px;
    }

    .device__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;

        &__label {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            width: 50%;
            padding-right: 10px;
        }

        &__input {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 50%;
            padding-left: 10px;
        }
    }
}
