.cartridge__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.cartridge {
    font-size: 1.1rem;
    display: flex;
    flex-flow: column nowrap;
    background: #eee;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    flex: 0 1 250px;
    & > * {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid gray;
        padding: 5px;
    }
    &__button {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        width: 100%;
        border-bottom: none;
        padding: 0px;
    }
}


    // &__branch {
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: space-around;
    //     align-items: center;
    //     width: 100%;
    //     border-bottom: 1px solid gray;
    //     padding: 5px;
    // }
    // &__model {
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: space-around;
    //     width: 100%;
    //     border-bottom: 1px solid gray;
    //     padding: 5px;
    // }
    // &__count {
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: space-around;
    //     width: 100%;
    //     border-bottom: 1px solid gray;
    //     padding: 5px;
    // }