.select__branch {
    width: 200px;
    height: 40px;
}

.modal__add {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 400px;
    margin: 0 50px;

    &__column {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 5px 20px;
        width: 450px;

        &__model {
            display: flex;
            justify-content: flex-start;
            flex-flow: column nowrap;
            width: 140px;
        }
        &__count {
            width: 140px;
        }

        .form-select {
            display: flex;
            height: 40px;
            width: 70px;
            margin-left: 70px;
            text-align: center;
            justify-content: center;
            > * {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__input {
        background-color: white;
        border-radius: 5px;
        margin: 5px 0;
        width: 100%;
        border: 1px solid gray;

        &:focus, &:hover, &:active {
            border: 1px solid gray;
        }
    }
}