.finish__request {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid gray;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
    background-color: #fff;
    &__branch {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 10px;
        font-weight: bold;
    }
    &__cartridge {
        display: flex;
        flex-flow: row;
        align-items: center;
        & > * {
            padding: 10px;
            border-left: 1px solid black;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        &__model {
            border-bottom: 1px solid black;
            font-weight: bold;
        }
        &__count {
            font-weight: bold;
        }
        &__button {
            display: flex;
            flex-flow: column;
        }
    }
} 